*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-image: linear-gradient(45deg, black, crimson);
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* classe criada para centracizar e personalizar a calculadora */
.calculadora{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.782);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}

/* Personalização da tela de ezibição dos resultados dos calculos realizados pelo usuário */
#resultado{
    background-color: white;
    width: 250px;
    height: 45px;
    border-radius: 5px;
    margin: 5px;
    font-size: 35px;
    color: black;
    text-align: right;
    padding: 5px;
}

/*
personalizações dos botões da calculadora, 
dois botões em expecial ('0' e '=') tiveram uma configuração diferenciada aplicados no próprio html
e efeito adicionado quando o cursor passa por eles
*/
button{
    width: 60px;
    height: 60px;
    font-size: 25px;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(62, 62, 62);
    color: white;
    margin: 3px;
}
button:hover{
    background-color: black;
}